<!DOCTYPE html>
<html>
  <head>
    <title>RailsMiniProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div id='flash' classname="flash flash-<%= key %>">
        <p><%= value %></p>
      </div>
    <% end %>
    <div id='header' classname='header'>
      <% if !signed_in? %>
        <%= link_to 'Sign in', signin_form_path %>
        <%= link_to 'Sign up', new_user_path %>
      <% else %>
        <%= link_to 'Sign out', signout_path %>
      <% end %>
      <%= link_to 'Users', users_path %>
      <%= link_to 'Projects', projects_path %>
      <%= link_to 'Gists', my_gists_path %>
      <%= link_to 'Code snippets', code_snippets_path %>
    </div>
    <div id='content' class='content'>
      <%= yield %>
    <div>
  </body>
</html>
